

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  
}

             /*Navbar*/
.navbar{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.5);
    position:sticky;
    top: 0;
}

.navbar ul{
    display : flex;
    list-style:none ;
    margin: 20px 0px;

}

.nav ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}


.navbar ul li a {
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s  ease;
}

.navbar ul li a:hover{
    background-color: white;
    color:black;
    box-shadow: 0 0 10px rgb(105, 81, 174);
}




/* Home section -> image */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height:840px;
    justify-content: center;
    align-items: center;
    color:aliceblue;
}
    
#home::before{
    content :"";
    position :absolute;
    top:0;
    right:0;
    background: url('https://t3.ftcdn.net/jpg/02/18/45/30/360_F_218453068_WRjhtH9MzO33Cb19K8acZI2VZvXueQ70.jpg') no-repeat center center/cover;
    height:900px;
    width: 100%;
    z-index:-1;              
}

/*Natali Sulcer -name*/
.main{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:60%;
    
}

.headings{
    font-family:century;
    font-weight: bold;
    font-size: 3rem;
    padding:0px ;
   
  
}


/* ABOUT ME  section*/

#about{
    display:flex;
    flex-direction: column;  
    box-sizing: border-box; 
    padding:20px;
    margin-bottom: 50px;
    background-color:rgb(0,0,0,0.5); 
    text-align: center;
}


#pic{
    dispaly:flex;
}
   


#pic img{
    width:575px;
    height : 400px;

}

#intro{
    display:flex;
    flex-direction:column;
    text-align: justify;
    padding :0px;
}
#intro h2{
    font-size: 2rem;
}

/*Hobbies section*/

#hobbies{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;

}
.gallery{
    display:flex;
   flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img{
    width: 360px;
    height:340px;
}

ol li{
    list-style-type:decimal;
    color:blue;
}
p{
    color:aliceblue
}



/*Contact section*/

#conta{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
}




